@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@300;400;500;600;700&&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #eee;
}
body {
  @apply dark:bg-slate-900 text-slate-600 dark:text-slate-400;
  /* @apply bg-gray-100 dark:bg-slate-900 text-slate-900 dark:text-slate-50; */
}

/* a {
  @apply text-black hover:text-slate-500 dark:text-slate-400 dark:hover:text-slate-100 duration-300;
} */

@keyframes typingText {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.navbar-fixed {
  @apply shadow-lg dark:bg-slate-800/10 dark:border-b border-indigo-500/20;
}
.wrapper {
  @apply flex flex-col justify-between h-screen max-w-5xl text-left mx-auto gap-2;
}
